mixin category-item(img1, img2, title, linkText)
  article.category-item
      .category-item__images
        img.img(src=img1, alt=title)
        img.img(src=img2, alt=title + " alt")
      
      .category-item__info
        h3.category-item__title= title

section.categories
  .container

    h2.categories__title Sound. Vision. Its your pick.
    
    .categories__list


        +category-item(
          './images/categories/cat1_1.png',
          './images/categories/cat1_2.png',
          'Portable Audio',
        )

        +category-item(
          './images/categories/cat2_1.png',
          './images/categories/cat2_2.png',
          'Home Theatre'
        )

        +category-item(
          './images/categories/cat3_1.png',
          './images/categories/cat3_2.png',
          'Headphones'    
        )
    
    .categories__actions
      a.btn.btn--black(href="#") View all categories